.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10%;
}

button{
  background-color: rgb(153, 179, 236);
  border-color: rgb(41, 98, 219);
  cursor: pointer;
  text-transform: uppercase;
  width: 7%;
  height: 4%;
}

button:hover {
  background-color: #487ce6;
}

button:active {
  background-color: #ffffff;
}
